
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .tanks-list {
        flex-wrap: wrap;
        align-items: center;
    }

    .tank-item {
        width: 90%;
        margin: 10px 0;
    }

    .contact-form {
        width: 90%;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}


@media (max-width: 1024px) {
    .tank-item {
        width: 45%;
    }
}


@media (min-width: 1200px) {
    .hero h1 {
        font-size: 5rem;
    }

    .hero p {
        font-size: 1.8rem;
    }
}